body {
    background-image: url(white_wall_hash.png);  /* www.subtlepatterns.com */
    color: #000;
    font: 16px 'Open Sans', sans-serif;
}

main {
    margin: 0 auto;
    padding: 20px 0 0 20px;
    text-align: center;
    width: 700px;
}

h1 {
    display: inline-block;
    font-size: 50px;
    margin: 30px 0;
}

h2 {
    font-size: 25px;
    margin: 0 0 15px 0;
    padding: 0;
}

.intro {
    line-height: 2em;
}

li {
    border-top: 1px #555 dashed;
    list-style-type: none;
    margin: 0 auto;
    padding: 50px 0;
}

ul {
    border-bottom: 1px #555 dashed;
    font-size: 16px;
    margin: 50px 0;
    padding: 0;
}

.links {
    margin-bottom: 15px;
}

a {
    border-radius: 10px;
    color: #000;
    font-size: 20px;
}

a:hover {
   color: #0066ff;
}

hr {
    width: 200px;
}
